Phase_II/TTGJets/
Plot/GEN/condorError/
Plot/GEN/condorLog/
Plot/GEN/condorOutput/
Lightweight_MC_Production/Test/*
Plot/GEN/Dataframes/*
Fragments/Outputs/*
NtupleAnalysis/*.tex
cmssw_9_4_7/*
CMSSW_9_3_9_patch1/*
CMSSW_8_0_21/*
CMSSW_7_1_25/*
DNN/CMSSW_10_6_8/*
CentralGridpackProduction/genproductions/*
NN/*
HHWWgg_Plot_DF/
misc/*
*.pyc
CMSSW*
testing_bash.sh
crab_configs/*
cmssw_configs/*
testing_python.py
NN/*
Madgraph/*
crab.log
genproductions/*
extra/*
Data_Plot/
Root_Tutorial/
DR1_MC_Configs.json
Data_Bkg_Plot/
HHWWgg_Plotter*
Pre_ED*
gridpacks/
NMSSM/genproductions/*
test_*
